{% extends '@Theme/Default/index.html.twig' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-xs-12">

            <h2>{{ titleD|trans }} <a href="{{ url("crud_"~entityRouteName~"_create_edit") }}" class="pull-right btn btn-success btn-flat">+ {{ "crud.common.button.new"|trans }}</a></h2>
            <table id="table_{{ entityRouteName }}" class="table">
                <thead>
                <tr>
                    {% for th in fields %}
                        <th>{{ (entityRouteName~"."~th)|lower|trans }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    {% for th in fields %}
                        <th>{{ (entityRouteName~"."~th)|lower|trans }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(function(){
            $('#table_{{ entityRouteName }}').DataTable( {
                "processing": true,
                "serverSide": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/French.json"
                },
                "ajax" : {
                    url : "{{ url("crud_"~entityRouteName~"_ajax_datatable") }}",
                    dataSrc: 'data',
                    type: 'POST'
                },
                columns: [
            {% for key,field in fields %}
                    {data : "{{ field }}"},
            {% endfor %}
                    {data: 'action_dataTable'}
                ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}
